body {
  margin: 0em;
  font-family: sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: sans-serif;

}
.cover {
  height: 400px;
  background-image: url("imagenes/imagenfondo1.jpg");
  color: white;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
}

.cover-small {
  height: 200px;
  background-blend-mode: normal;
}
.card {
  border: 0 !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    2px 4px -1px rgba(0, 0, 0, 0.06);
}
.card-title {
  min-height: 3rem;}
  
.card-text {
  min-height: 5rem;
  
}
.product-stripe {
  overflow-x: scroll;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.stripe-container {
  display: flex;
}
.stripe-container{
  width: 300px;
  flex-shrink: 0;
  margin-right: 1rem;
}
.card {
  width: 300px;
  flex-shrink: 0;
  margin-right: 1rem;
}
.responsive-iframe {
  position: relative;
  padding-top: 56.25%;
}
.responsive-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.nav a{
  font-weight: 600;
  padding-right: 50px;
}
nav a:hover{
  color: white;
}
@media (max-width:700px){
  flex-direction: column;
}
nav{
  padding: 10px 0px;
}.